* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #91d8dd, #ffffff);
    padding: 40px 20px;
}

.pagina-resumo {
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.cabecalho-resumo {
    text-align: center;
    margin-bottom: 30px;
}

.cabecalho-resumo span {
    color: #145547;
    font-weight: bold;
    font-size: 14px;
}

.cabecalho-resumo h1 {
    margin: 10px 0;
    color: #1d9e98;
    font-size: 38px;
}

.cabecalho-resumo p {
    color: #666;
    font-size: 16px;
}

.material-original,
.area-resumo {
    background: white;
    border-radius: 20px;
    padding: 25px;
    margin-bottom: 25px;
    box-shadow: 0 8px 25px rgba(80, 30, 100, 0.12);
}

.material-original h2,
.area-resumo h2 {
    color: #2e8b87;
    margin-bottom: 15px;
}

#conteudoOriginal {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    color: #444;
    line-height: 1.7;
    white-space: pre-line;
    max-height: 350px;
    overflow-y: auto;
}

.btn-gerar {
    width: 100%;
    border: none;
    padding: 16px;
    border-radius: 15px;
    background: linear-gradient(135deg, #228580, #0f4441);
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 25px;
}

.btn-gerar:hover {
    transform: translateY(-2px);
}


#textoResumo {
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    color: #333;
    line-height: 1.8;
    white-space: pre-line;
}

.botoes-resumo {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.botoes-resumo button {
    flex: 1;
    border: none;
    padding: 13px;
    border-radius: 12px;
    background: #22807b;
    color: #fcfcfc;
    font-weight: bold;
    cursor: pointer;
}

.botoes-resumo button:hover {
    background: #ffffff;
}

@media (max-width: 600px) {

    body {
        padding: 25px 15px;
    }

    .cabecalho-resumo h1 {
        font-size: 30px;
    }

    .botoes-resumo {
        flex-direction: column;
    }
}

body.protanopia{
    filter: url("#filtro-protanopia");
}

body.deuteranopia{
    filter: url("#filtro-deuteranopia");
}

body.tritanopia{
    filter: url("#filtro-tritanopia");
}

body.acromatopsia{
    filter: grayscale(100%);
}
.btn-voltar {
    display: block;
    margin: 25px auto 0;
    padding: 10px 18px;
    background-color: #aef3ed;
    color: #22807b;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-voltar:hover {
    background-color: #ddd2ff;
    transform: translateY(-2px);
}